<section>
  <header>
      <h1 id=""> Ajuda </h1>
  </header>

  <article id="lsystem" class="help">
    <header>
      <h1> Como usar o L-system </h1>
    </header>
      <ul id="help-lsystem" class="itens">
        <li>L-Systems (Abreviação de Sistemas de Lindenmayer), é um conjunto de regras e símbolos que modelam um processo de crescimento. O sistema de Lindenmayer foi proposto por Aristid Lindenmayer para simular e modelar o crescimento de algumas plantas e hoje é usado em áreas como a matemática. Os L-systens são da seguinte forma:<p/>
        <ul>
          <p>Um ângulo: de 0 a 360º<p/>
          Um axioma inicial</p>
          Regras de substituição</p>
          Constantes que são opcionais.<p/><p/>
        </ul>

      O ângulo define quanto tiver uma ‘operação’ (+ ou -) quantos graus a reta à direita da operação irá rotacionar.<p/>
      <p/>O axioma define o estado inicial do Fractal. No qual as próximas iterações iram se basear. <p/>Pode ser uma figura complexa ou apenas uma reta.<p/>
      A regras de substuições são o que definem como o Fractal irá se comportar em cada iteração. Ex: F=F+F, essa significa que a cada iteração todo F, da regra, deve ser substituído por F+F.<p/>
      Vamos à um exemplo prático para a construção de um fractal. Vamos construir o fractal chamado Triangulo de Sierpinski. Que é da seguinte forma:
        </li>

        <p>
           <%= image_tag "img-frac-ready.png" %>
        </p>
        <li>
          Primeiramente, como podemos observar o esse fractal é um trinângulo isósceles, portanto a soma dos ângulos é 180º, logo divido por 3, pois temos três ângulos iguais, definiremos como 120º (Pois precisaremos de 2 vezes o valor de cada ângulo, pois se não, a rotação não será suficiente para fechar o triângulo). Também temos 2 retas, a base que tem um tamanho e os dois lados que possuem tamanhos iguals, então chamaremos uma reta F e outra de G.
        </li>
        <p>
          <%= image_tag "img-tela-construcao.png" %>
        </p>

        <li>
          Esta é a tela onde será criado o Fractal do Triângulo de Sierpinski. Como já sabemos o ângulo e e que temos duas retas, vamos definir o axioma inicial como F-G-G, pois sabemos que temos 3 lados, pois é um triângulo e temos, dois lados iguais e um outro lado. Só com Axioma ainda não aparece nada, por isso vamos colocar a regra de geração como F=F
        </li>
        <p>
          <%= image_tag "img-axioma.png" %>
        </p>
        <li>
          Podemos ver que apenas na segunda iteraçao que apareceu um triângulo, mas ainda não é o que queremos, pois configuramos o fractal para trocar F por F, ou seja não fazer nada. Vamos colocar F=F-G+F, tentando colocar 2 lados, iguais e 1 diferente para formar um triângulo na primeira iteração
        </li>
        <p>
          <%= image_tag "img-frac-teste.png" %>
        </p>
        <li>
          Foi gerado um quadrado, pois na primeira iteração com a regra F=F+F, aconteceu o seguinte. F foi tranformado em F+F ou seja, a reta F, e logo após gira 90º sentido horário, e desenha F novamente, e ficou metade de um quadrado, ou seja na 3 iteração, geramos o quadro inteiro, pois colocamos novamente F+F.<p/><p/>
	Agora para começar a dar forma ao fractal Triângulo de Sierpinski, vamos analisar melhor a segunda iteração
        </li>
        <p>
          IMAGEM da segunda iteração do Triângulo de Sierpinski, numerar retas
        </p>
        <li>
          Podemos ver que temos 5 retas F. Vamos Colocar F=F+F+F+F+F
        </li>
        <p>
          IMAGEM 5
        </p>
        <li>
          Podemos ver que as retas se sobrepuseram. Mas analisando a imagem novamente, vemos que a Reta 3 da imagem da Triangulo de Sierpinski, deve ser rotacionada com a operação -, pois assim tiraremos a forma do quadrado, pois as retas não irão se sobrepor.
        </li>
        <p>
          IMAGEM 6
        </p>
        <li>
          Agora devemos também colocar a operação de - no quarto F da regra, pois assim ele ficará no mesmo sentido da primeira reta da figura.
        </li>
        <p>
          IMAGEM 7
        </p>
        <li>
          Pode-se notar que já chegamos ao fractal desejado, a única diferença é que ele está horizontal, enquanto o da figura NUMERO DA FIGURA, está na vertical, para mudar isso, apenas precisamos rodar o Axioma inicial, para - ou + que a reta inicial estará na vertical, assim como todo o resto.
        </li>
        <p>
          IMAGEM 8
        </p>
      </ul>
  </article>

  <article id="formula" class="help">
    <header>
      <h1> Como construir fórmulas </h1>
    </header>

    <h3> Variáveis disponíveis </h3>
    <ul id="var_help" class="itens">
      <li><strong>resp_x</strong> Resposta da iteração x, e.g. resp_0 representa a resposta da iteração 0</li>
      <li><strong>n</strong> Representa a e-néssima iteração</li>
    </ul><!-- /help -->

    <h3>Operações Disponíveis</h3>

    <ul id="op_help" class="itens">
      <li>As operações elementares: +, -, *, / (soma, subtração, multiplicação e divisão, respectivamente)</li>
      <li>Raiz quadrada: sqrt(&lt;valor&gt;), substituindo-se &lt;valor&gt; pelo número ou variável desejada</li>
      <li>Exponenciação: b ^ e, substituindo-se <emph>b</emph> pela base e <emph>e</emph> pelo expoente </li>
    </ul><!-- /op_help -->

    <p> Por exemplo, para criarmos uma fórmula para o determinar o tamanho do lado do menor do triângulo do fractal Triângulo de Sierpinski, podemos utilizar as seguintes formas: </p>

    <p>Resposta de acordo com o tamanho do lado inicial do Triângulo de Sierpiski</p>
    <p id="code"> Fórmula: Resp_0 / 2 ^ n </p>

    <p>Resposta de acordo com o tamanho l do lado inicial do Triângulo de Sierpiski</p>
    <p id="code"> Fórmula: l / 2 ^ n </p>
  </article>

</section>
