<section>
  <header class="clearfix">
    <h1 class="left"> Editar Questão </h1>
    <p class="right">
    	<%= link_to 'Voltar', [@learning_object, @exercise], :class => "btn" %>
    </p>
  </header>

  <article>
    <%= render 'form' %>
  </article>

</section>
