<h1> Como construir fórmulas </h1>

<ul id="help" class="itens">
	<li>X representa o a resposta do usuário à primeira questão</li>
	<li>N representa o número da iteração</li>
</ul><!-- /help -->

<p> Por exemplo, para criarmos uma fórmula para o lado do Triângulo de Sierpinski, podemos utilizar a seguinte forma: </p>

<p> Fórmula: X / 2 ^ N </p>

<p> Se o aluno entrar com 32 na primeira resposta, o software irá dar um feedback positivo. </p>
<p> Na 2ª iteração, o usuário deverá entrar com 16 como resposta, para satisfazer a fórmula: 32 / 2 ^ 1 = 16. Caso entre com outra resposta, o software dará um feedback negativo </p>