<div class="formatting">
  Use a formatação markdown <%= link_to "Veja os exemplos.", "javascript:void(0)", :class => "markdown_link" %>
<div class="markdown_examples" style="display: none">
  <table>
    <tr>
                  <td><pre>[Link](http://example.com/)</pre></td>
    <td><a href="http://example.com/">Link</a></td>
  </tr>
  <tr>
                  <td><pre>*Italic*</pre></td>
  <td><em>Italic</em></td>
</tr>
<tr>
                  <td><pre>**Bold**</pre></td>
<td><strong>Bold</strong></td>
                </tr>
                <tr>
                  <td>
<pre> * Listed
* Items  </pre></td>
                <td><ul><li>Listed</li><li>Items</li></ul></td>
              </tr>
              <tr>
                  <td><pre>&gt; Block quote</pre></td>
              <td><blockquote><p>Block quote</p></blockquote></td>
            </tr>
            <tr>
                  <td><pre>`Inline code`</pre></td>
            <td><code>Inline code</code></td>
          </tr>
          <tr>
            <td><pre>$ 2^(30+2)/sqrt(9) $</pre></td>
            <td>$ 2^(30+2)/sqrt(9) $</td>
          </tr>
        </table>
      </div>
    </div>
