<% flash.each do |type, message| %>
  <div class="alert <%= twitterized_type(type) %> fade in" data-dismiss = "alert">
    <a class="close" href = "#">x</a>
    <p><%= message %></p>
  </div>
<% end %>
