<% flash.each do |type, message| %>
  <div class="alert-message <%= twitterized_type(type) %>" data-alert = "alert">
    <a class="close" href = "#">x</a>
    <p><%= message %></p>
  </div>
<% end %>
