<div id="navigation">
  <ul class="tabs">
    <li class="active"><%= link_to "Home", root_path %></li>
    <li><%= link_to "OAs", learning_objects_path%></li>
    <li><a href="#">Mensagens</a></li>
    <li><a href="#">Confiturações</a></li>
    <li><a href="#">Sobre</a></li>
  </ul>
</div>

