<section>
  <header>
    <h1 class="left">Nova Introdução</h1>
    <div class="right">
        <%= link_to 'Ver todas', learning_object_path(@learning_object), :class => "btn" %>
    </div>
  </header>

  <article>
    <%= render 'form' %>
  </article>
</section>
