<section class="exercise" >
  <header class="clearfix" >
    <h1 class="left"> Introdução </h1>
    <div class="right">
        <%= link_to 'Voltar', :back, :class => "btn" %>
    </div>
  </header>

  <article>
    <header>
      <h2>  <%= @introduction.title %> </h2>
    </header>

    <%= markdown @introduction.content %>

  </article>
</section>
