<section class="exercise" >
  <header>
    <h1> Introdução </h1>
  </header>

  <article>
    <header>
      <h2>  <%= @introduction.title %> </h2>
    </header>

    <%= markdown @introduction.content %>

  </article>
</section>
