<section>
  <header>
    <h1 class="left"> Editar Fractal </h1>
    <div class="right">
      <div class="btn-group">
        <%= link_to 'Visualizar', fractal_path(@fractal), :class => "btn" %>
        <%= link_to 'Voltar', fractals_path, :class => "btn" %>
      </div>
    </div>
  </header>

  <%= render 'form' %>

</section>
