<section>
  <header>
    <h1 class="left"> Editar Fractal </h1>
    <p class="right">
      <%= link_to 'Voltar', fractals_path, :class => "btn large" %>
    </p>
  </header>

  <%= render 'form' %>

</section>
