<section>
  <header>
    <h1 class="left"> Fractais </h1>
    <p class="right">
      <%= link_to 'Criar novo Fractal', new_fractal_path, :class => "btn large" %>
    </p>
  </header>

  <table class="zebra-striped bordered-table" id="fractal-index">
    <thead>
      <tr>
        <th>Figura</th>
        <th>Fractal</th>
        <th class="center">Opções</th>
      </tr>
    </thead>
    <tbody id="fractals">
        <%= render @fractals %>
    </tbody>
  </table>
</section>
<%= paginate @fractals %>
