<section>
  <header class="clearfix">
    <h1 class="left"> Fractais </h1>
    <div class="right">
      <% if can? :manage, Fractal %>
        <%= link_to 'Criar novo Fractal', new_fractal_path, :class => "btn" %>
      <% end %>
    </div>
  </header>

  <article>
    <table class="table table-bordered" id="fractal-index">
      <thead>
        <tr>
          <th>Fractal</th>
          <th>Figura</th>
          <th>Criador</th>

          <% if can? :manage, Fractal %>
            <th class="center">Opções</th>
          <% end %>
        </tr>
      </thead>
      <tbody id="fractals">
        <%= render @fractals %>
      </tbody>
    </table>
  </article>
</section>
<%= paginate @fractals %>
