<section>
  <header>
    <h1 class='left'>Construa seu Fractal</h1>
    <div class="right">
      <div class="btn-group">
        <%= link_to 'Visualizar todos', fractals_path, :class => "btn" %>
      </div>
    </div>
  </header>

  <%= render 'form' %>

</section>
