<h1>Construa seu Fractal</h1>

<%= render 'form' %>


<h3> Prévia do Fractal</h2>
<div id="div_table">
  <table>
    <tr>
      <th>Iteração 0</th>
      <th>Iteração 1</th>
      <th>Iteração 2</th>
    </tr>
  </table>
</div>