<section>
  <header>
    <h1 class="left"> <%= @fractal.name %> </h1>
    <p class="right">
      <%= link_to 'Voltar', :back, :class => "btn large" %>
    </p>
  </header>
  <table class="zebra-striped bordered-table" id="fractal-show">
    <thead>
      <tr>
        <th>Iteração</th>
        <th>Fractal</th>
      </tr>
    </thead>
    <tbody class="fdata" data-fractal="<%= @fractal.to_json %>">
    </tbody>
  </table>

  <footer>
    <p class="center">
      <input type="button" value="Próxima Iteração" class="btn med" onClick='show_next_it()'/>
    </p>
  </footer>


</section>
