<section id="fractal-published">
  <% if @page.instance_of? Introduction %>
    <%= render 'introduction' %>
  <% else %>
    <%= render 'exercise' %>
  <% end %>

  <%= paginate @pages, :theme => 'lo_pagination' %>
</section>
