<div class="well calc">
   <div id="display"></div>
   <input type="text" name="calc_input" value="" id="calc_input"/>
   <span class="error">Formula Invalida</span>
   <div class="btns btn-toolbar">
     <div>
       <a href="#display" class="btn btn-large" id="7" title="Número 7">7</a>
       <a href="#display" class="btn btn-large" id="8" title="Número 8">8</a>
       <a href="#display" class="btn btn-large" id="9" title="Número 9">9</a>
       <a href="#display" class="btn btn-large" id="^" title="Potência">x<sup>y</sup></a>
       <a href="#display" class="btn btn-large" id="backspace" title="Backspace">&larr;</a>
     </div>
     <div>
       <a href="#display" class="btn btn-large" id="4" title="Número 4">4</a>
       <a href="#display" class="btn btn-large" id="5" title="Número 5">5</a>
       <a href="#display" class="btn btn-large" id="6" title="Número 6">6</a>
       <a href="#display" class="btn btn-large" id="+" title="+">&plus;</a>
       <a href="#display" class="btn btn-large" id="-" title="-">&minus;</a>
     </div>
     <div>
       <a href="#display" class="btn btn-large" id="1" title="Número 1">1</a>
       <a href="#display" class="btn btn-large" id="2" title="Número 2">2</a>
       <a href="#display" class="btn btn-large" id="3" title="Número 3">3</a>
       <a href="#display" class="btn btn-large" id="*" title="Mdivtiplicação">x</a>
       <a href="#display" class="btn btn-large" id="/" title="Divisão">&frasl;</a>
     </div>
     <div>
       <a href="#display" class="btn btn-large" id="," title="Virgdiva">,</a>
       <a href="#display" class="btn btn-large" id="0" title="Número 0">0</a>
       <a href="#display" class="btn btn-large" id="(" title="Abre Parênteses">(</a>
       <a href="#display" class="btn btn-large" id=")" title="Fecha Parênteses">)</a>
       <a href="#display" class="btn btn-large" id="sqrt" title="Raiz Quadrada">&radic;</a>
     </div>
     <div>
       <a href="#display" class="btn btn-large" id="n" title="variável n">n</a>
       <a href="#display" class="btn btn-large" id="l" title="variável l">ℓ</a>
       <a href="#display" class="btn btn-large" id="clean" title="Limpar">Limpar</a>
       <a href="#display" class="btn btn-large btn-primary" id="send" title="Enviar">Enviar</a>
     </div>
   </div>
</div>
<%= render "/shared/mathjax" %>
