<div class="page-header">
  <h1>Welcome<small> this is CARRIE, the best math authoring system</small></h1>
</div>

<%= link_to 'Registrar-se', new_user_registration_path,  :class => "btn large" %>
<%= link_to 'Logar-se', new_user_session_path,  :class => "btn large" %>
<%= link_to 'Sair', destroy_user_session_path, :method => "delete", :class => "btn large" %>
