<section id="my-group">
  <header>
    <h1> OA: <%= @lo.name %> </h1>
  </header>

  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span2">
        <!--Sidebar content-->
        <aside class="well">
          <ul id="lo-options" class="nav nav-list">
            <li class="nav-header">
              Objeto de Aprendizagem
            </li>
            <li><%= link_to 'Acessar OA', published_fractal_path(@lo) %></li>
            <li class="nav-header">
              Minhas Respostas
            </li>
            <li>
              <%= link_to "Erradas", answers_errors_url , remote: true, class: "load"  %>
            </li>
            <li>
              <a href="#">Certas</a>
            </li>
          </ul>
        </aside>
      </div>

      <div class="span10">
        <div id="side-content">

        </div>
        <!--Body content-->
      </div>

    </div>
  </div>
</section>
