<section>
  <header>
    <h1 class="left"> Turma <%= @learning_group.name %> </h1>

    <div class="btn-group right">
      <%= link_to 'Editar', edit_learning_group_path(@fractal), class: "btn"  %>
      <%= link_to 'Ver todos', learning_groups_path, :class => "btn" %>
      <%= link_to 'Voltar', :back, :class => "btn" %>
    </div>
  </header>

  <article>
    <header>
        <h2> Alunos Matriculados</h2>
    </header>
  </article>

</section>
