// Place all the styles related to the Answers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.errors {padding: 0px;}

#answer_content {
  left: 25%;
  top: 40%;
  width: auto;
  bottom: 1%;
  right: 3%;
  min-height: 630px;
}
