/*
* require twitter/bootstrap
* require bootstrap.css.less
* require util
*= require dragtable-default
*= require jquery-ui/jquery-ui.css
*= require best_in_place
*= require form_style
*= require fractals
*= require exercises
*= require_self
*/

/* styles **/
$bc: #DDD;

.right { text-align:right; }
.left { float: left; }
.center { text-align:center; }
.bordered { border: 1px solid $bc;}
.clear {clear:both;}

section{
  padding:10px 0 10px 0;
  header{
    h1 {
      border-bottom: 1px solid $bc;
    }
  }
}

/* styles for actions on table */
.list-actions {

  text-align: center;
  width: 140px;
  font-size: 12px;

  ul {
    float: right;
    list-style-type: none;
    margin: 0;

    li {
      float: left;
      margin-right: 5px;
    }
 }
}

