/*
*= require twitter/bootstrap
*= require bootstrap.css.less
*= require form_style
*= require jquery-ui/jquery-ui.css
*= require best_in_place
*= require fractals
*= require exercises
*= require_self
*/


/* styles **/
$bc: #DDD;

.right {
  float:right;
  &:after {clear:both;}
}
.left { float: left; }
.center { text-align:center; }
.bordered { border: 1px solid $bc;}
.clear {clear:both;}

section{
  padding:10px 0 10px 0;
  header{
    h1 {
      border-bottom: 1px solid $bc;
    }
  }

  article {
    margin-top: 50px;
    clear: both;
  }
}

/* styles for actions on table */
.list-actions {

  width: 140px;
  font-size: 12px;

  text-align: center;
  vertical-align: middle;

  ul {
    text-align: center;
    list-style: none;
    margin: 0;

    li {
      display: inline;
      width: auto;

      margin-right: 5px;
      text-align: center;
    }
 }
}

.table {
  margin-top: 10px;
}

.thumbnails {
  margin-top: 10px;
}

.btn-group {
  margin: 10px 0px;
}

.user_logged {
  float: right;
  margin-right: 0px;
}

#navigation {
  margin-top: 10px;
}

