.calc {
  //padding: 10px;
  border: 2px solid #EEE;

  .error {
    border-color: rgba(188, 93, 50, 0.8);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(188, 93, 50, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(188, 93, 50, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(188, 93, 50, 0.6);
  }

  span.error {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    display: none;
    color: red;
  }

  #display {
    padding: 10px;
    text-align: center;
    border: 2px solid #EEE;
    background-color: white;
    min-height: 60px;
    border-radius: 5px;
  }

  #calc_input {
    width: 96%;
  }

  .btns {
    div {margin-top: 5px;}
    .btn {
      width: 25px;
      text-align: center;
    }
    .btn-primary, #clean {
      width: 55px;
    }
  }

}
