section.exercise {

  h2, h2 input{
    text-align: center;
    span {
      padding-right: 1.5em;
    }
  }

  table {
    margin-top: 5px;
    td {
      text-align: center;
      vertical-align: middle;
    }
  }

}

.ui-resizable-helper { border: 1px dotted gray; }
