@import "twitter/bootstrap";

section.exercise {
  textarea, input {
    width: 100%;
  }
  input{
   width: 100% !important;
   text-align: center !important;
  }
  p {
    clear: both;
    padding: 10px 0;
  }
  h2 button {
    float: left;
    margin-bottom: 10px;
  }

  table {
    td {
      text-align: center;
      vertical-align: middle;
    }
    th span.title {
      text-align: center;
      float: left;
      margin-right: 5px;
    }
    th{clear:both;}
  }

  .right {
    margin-bottom: 5px;
  }

  button {
    @extend .btn;
  }
}

.ui-resizable-helper { border: 1px dotted gray; }
