section.exercise {

  h2, h2 input{
    text-align: center;
    span {
      padding-right: 1.5em;
    }
  }

  table {
    margin-top: 5px;
    td {
      text-align: center;
      vertical-align: middle;
    }
  }

}

section#fractal-exercise {
  clear: both;
  .inline {
    clear: both;
    .input {
      float: left;
    }
  }

  input[type="text"] {
    width: 300px;
  }

/*  .button {
    float: right;
    margin-top: 45px;
    margin-right: 10px;
  }
  */

  #exercise_fractal_exercise_angle,
  #exercise_fractal_exercise_iterations,
  #exercise_fractal_exercise_width,
  #exercise_fractal_exercise_height,
  {width: 50px;}

  #exercise_fractal_exercise_constant {width: 100px;}
}

.ui-resizable-helper { border: 1px dotted gray; }

#sortable-question { list-style-type: none; margin: 0; padding: 0; width: 60%; }
#sortable-question li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }

#sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
  #sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }
  #sortable li span { position: absolute; margin-left: -1.3em; }