/*@import "util";*/

.simple_form {
  clear: both;
  padding-left: 0px;

  .field-with-link {
    select {
      float: left;
    }
    input[type="text"] {
      float: left;
      width: 50%;
    }
    a {
      padding-left: 10px;
    }
  }

  .hidden-fields {
    display: none;
  }

  span.error {
    position: absolute;
    display: block;
    margin: -12px 0 0 -10px;
    padding: 5px 10px;

    //background: rgba(229, 28, 28, 0.8);
    //-moz-border-radius: 7px;
    //-webkit-border-radius: 7px;

    font-size: 11px !important;
    color: red !important;
    text-shadow: none !important;
  }

  label {
    text-align: left;
    width: auto;
    margin-right: 5px;
  }

  input[type="text"], input[type="password"], input[type="email"],  textarea {
    width: 90%;
    display: block;
    clear: both;
  }

  select {
    display: block;
    clear: both;
  }

  input[type="checkbox"] {
    float: left;
    margin-right: 5px;
    margin-top: 9px;
  }

  input[type="radio"] {
    width: 20px;
    margin: 30px 0;
  }

  textarea {
    height: 100px;
  }

  .input {
    margin: 20px 10px 0px 0px;
  }

  p {
    clear: both;
  }

  .button {
    margin-top: 20px;
  }
}


.simple_form div.boolean label, .simple_form label.collection_radio {
  float: none;
  margin-top: 0;
}

.simple_form label.collection_radio {
  margin-right: 10px;
  margin-left: 2px;
}

.lo_pagination {
  @extend .pagination;
  margin-right: auto;
  margin-left: auto;
  width: 610px;
  padding-bottom: 5px;
  select {
    margin: 5px;
  }

  li.first, li.prev, li.last, li.next  {
    padding: 0 14px;
    line-height: 34px;
    border-right: 1px solid;
    border-right-color: #DDD;
    border-right-color: rgba(0, 0, 0, 0.15);
    text-decoration: none;
  }

  li.next {
    border-right: none;
  }

  li a {
    float: none;
    padding: 0px;
    border-right: none;
  }

}

.login_form {
  width: 40%;
  margin: 0 auto;
  padding-right: 0px;
  padding: 10px;

  .simple_form label[for="user_remember_me"] {
    padding-top: 5px;
  }

  input[type="password"], input[type="email"] {
    width: 100%;
  }

  select {
    margin-bottom: 0px;
  }
}
