// Place all the styles related to the fractals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#fractal-index {
  canvas {
    margin-left: 15px;
  }
}

p.mid {
  text-align: center;
}

#fractal-form {
  .inline .input {
    float: left;
  }

  input[type="text"] {
    width: 270px;
  }

  .button {
    float: left;
    margin-top: 43px;
  }

  div.field_with_hint {
    clear:both;
  }

  #fractal_angle {width: 40px;}
  #fractal_constant {width: 100px;}
  #fractal_axiom {width: 450px;}
}

#fractal_preview {
  clear: both;
  padding-top: 5px;

  .thumbnail {
    text-align: center;
  }
}
