// Place all the styles related to the fractals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#fractal-index {
  
  td.fractal {
   width: 230px;
  }

  canvas {
    margin-right: 5px;
  }
}


#fractal-show {
  
  td.iteration {
  	width: 30px;
  }

  td.fractal {
   width: 230px;
  }

  canvas {
    margin-right: 5px;
  }
}
