// Place all the styles related to the LearningGroups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#new_learning_group, form[id^="edit_learning_group"] {
  input[type="text"] {
    width: 150px;
  }

  input[type="submit"] {
    margin-right: 10px;
  }
}

#group_form .btn-group {
    margin-top: 33px;
}

#all_groups {
  form {
    margin: 10px;
    input[type="text"]  {
      height: 22px;
      margin-bottom: 3px;
      padding: 5px;
    }

    input[type="submit"]  {
      margin-bottom: 3px;
      padding: 7px;
    }
  }

  .highlight {
    color: #DD0000;
    font-weight: bold;
  }

  table td {
    height: 60px;
    vertical-align: middle;
  }
}

#my-group {
  header {
    margin-bottom: 15px;
  }
  article {margin-top: 0px;}

  .thumbnail {
    h4 {text-align: center}
    width: 150px;
    height: 100px;
  }

  .container-fluid {
    padding-left: 0px;
  }

  .span2,.nav {
    padding: 0px;
  }

  a:hover {
    text-decoration: none;
    .thumbnail {
      background: #EEE;
    }
  }
}
