// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#questions-sort header {
  margin-bottom: 15px;
}

#questions-form table {
  margin-top: 25px;
  width: 90%;
  td {
    vertical-align: middle;
    text-align: center;

    span.radio + span.error {
      margin-top: 10px;
    }
  }
}
table {height:100%}

td.calculator {
  vertical-align: top;
  position: relative;
  height:100%;
  padding-bottom: 20px;

  span.text-in-border {
    position: relative;
    background-color: white;
    top: 12px;
    left: -30%;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.exercise tr:hover {
  span.text-in-border {
    background-color: inherit;
  }
}

.wrong-answer, .right-answer {
  height: 95%;
  display: table;
  width: 97%;
  div {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
  }
}

.wrong-answer *, .right-answer * {
  vertical-align: middle;
}

.wrong-answer {
  border: 5px solid red;
}

.wrong-answer + span {
  color: red;
}
.right-answer {
  border: 5px solid green;
}
