<div class="calc">
<!--	<div class="center deg" id="center">
		<div class="bg">
			<div class="inputs">
				<div class="plotinput invisible" id="plotinput"></div>
				<div class="solveinput invisible" id="solveinput"></div>
				<div class="matrixinput invisible" id="matrixinput"></div>
				<div class="unitsinput invisible" id="unitsinput"></div>
				<input onfocus="makeInput(this);$(document).unbind('keypress')" onblur="$(document).keypress(onKey)" tabindex="1" type="text" onkeypress="if (event.keyCode==13) { equal(); return false; }" onkeyup="if (event.keyCode==27) clearall(); if (!event.shiftKey) { if ((event.keyCode==40 || event.keyCode==38)) historyScroll(event.keyCode==40); else {  } } inputKeyChange();" onkeydown="if (event.keyCode==110) { ins('.'); return false; }; if (checksyntax)checksyntax(false);" class="input" id="input" name="input" autocomplete="off" />
			</div>

			<div class="btns">
				<div class="table num">
					<ul class="row head">
						<li class="op"><a id="cmd_percent" onmousedown="ins('%')" class="btn" title="Percent, x%">%</a></li>
						<li class="op"><a id="cmd_fac" onmousedown="cmd('faculty')" class="btn" title="Factorial, x!  Example: 5!">!</a></li>
						<li><a id="paranl" onmousedown="paranl()" class="btn" title="(">(</a></li>
						<li><a id="paranr" onmousedown="paranr()" class="btn" title=")">)</a></li>
						<li><a id="cmd_undo" onmousedown="doundo()" class="btn" title="Undo">&#8592;</a></li>
						<li><a id="cmd_clr" class="btn" onmousedown="clearall()" title="Clear" >C</a></li>
					</ul>
					<ul class="row">
						<li class="op"><a id="cmd_sqrt" onmousedown="cmd('sqrt')" class="btn" title="Square Root of Number x, sqrt(x)"><span class="v">&#8730;</span>x</a></li>
						<li class="op"><a id="cmd_x2" onmousedown="cmd('x^2')" class="btn" title="x^2">x<sup>2</sup></a></li>
						<li><a id="num7" class="btn" title="" onmousedown="ins('7')" ><span>7</span></a></li>
						<li><a id="num8" class="btn" title="" onmousedown="ins('8')" ><span>8</span></a></li>
						<li><a id="num9" class="btn" title="" onmousedown="ins('9')" ><span>9</span></a></li>
						<li><a id="op_div" class="btn" title="" onmousedown="setoperation('/')" >&#247;</a></li>
					</ul>
					<ul class="row">
						<li class="op"><a id="A27" onmousedown="cmd('sqrty')" class="btn" title="y-th Root of Number x, sqrt(x, y)"><sup>y</sup>&#8730;x</a></li>
						<li class="op"><a id="A26" onmousedown="setoperation('^')" class="btn" title="Raise to Higher Power, x^y">x<sup>y</sup></a></li>
						<li><a id="num_4" class="btn" title="" onmousedown="ins('4')" ><span>4</span></a></li>
						<li><a id="num_5" class="btn" title="" onmousedown="ins('5')" ><span>5</span></a></li>
						<li><a id="num_6" class="btn" title="" onmousedown="ins('6')" ><span>6</span></a></li>
						<li><a id="op_mult" class="btn" title="" onmousedown="setoperation('*')" >&#215;</a></li>
						<li> </li>
					</ul>
					<ul class="row">
						<li class="op"><a id="A36" onmousedown="cmd('exp')" class="btn" title="Exponential Function, exp(x), e^x">e<sup>x</sup></a></li>
						<li class="op"><a id="A37" onmousedown="ins('L')" class="btn" title="Variable L">L</a></li>
						<li><a id="num_1" class="btn" title="" onmousedown="ins('1')" ><span>1</span></a></li>
						<li><a id="num_2" class="btn" title="" onmousedown="ins('2')" ><span>2</span></a></li>
						<li><a id="num_3" class="btn" title="" onmousedown="ins('3')" ><span>3</span></a></li>
						<li><a id="op_sub" class="btn" title="" onmousedown="setoperation('-')" >-</a></li>
						<li> </li>
					</ul>
					<ul class="row">
						<li class="op2"><a id="A38" onmousedown="cmd('10^x')" class="btn" title="10^x">10<sup>x</sup></a></li>
						<li class="op"><a id="A39" onmousedown="cmd('log')" class="btn" title="Logarithm of Number x to Base 10, log(x)">log</a></li>
						<li><a id="num_0" class="btn" onmousedown="ins('0')"><span>0</span></a></li>
						<li><a id="op_sign" class="btn" onmousedown="sign()" ><span>&#177;</span></a></li>
						<li><a id="cmd_dot" class="btn" onmousedown="ins('.')" ><span>.</span></a></li>
						<li><a id="A42" class="btn" title="" onmousedown="setoperation('+')" >+</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
-->

<div class="center deg" id="center">
	<div class="bg">
		<div class="inputs">
			<div class="plotinput invisible" id="plotinput"></div>
			<div class="solveinput invisible" id="solveinput"></div>
			<div class="matrixinput invisible" id="matrixinput"></div>
			<div class="unitsinput invisible" id="unitsinput"></div>

			<input onfocus="makeInput(this);$(document).unbind('keypress')" onblur="$(document).keypress(onKey)" tabindex="1" type="text" onkeypress="if (event.keyCode==13) { equal(); return false; }" onkeyup="if (event.keyCode==27) clearall(); if (!event.shiftKey) { if ((event.keyCode==40 || event.keyCode==38)) historyScroll(event.keyCode==40); else {  } } inputKeyChange();" onkeydown="if (event.keyCode==110) { ins('.'); return false; }; if (checksyntax)checksyntax(false);" class="input" id="input" name="input" autocomplete="off" />
		</div>

		<div class="btns">
			<div class="table num">
				<ul class="row head">
					<li class="op"><a id="cmd_percent" onmousedown="ins('%')" class="btn" title="Percent, x%">%</a></li>
					<li class="op"><a id="cmd_fac" onmousedown="cmd('faculty')" class="btn" title="Factorial, x!  Example: 5!">!</a></li>
					<li class="sp"> </li>
					<li><a id="paranl" onmousedown="paranl()" class="btn" title="(">(</a></li>
					<li><a id="ins_colon" onmousedown="ins(', ')" class="btn" title=", ">,</a></li>
					<li><a id="paranr" onmousedown="paranr()" class="btn" title=")">)</a></li>
					<li class="sp"> </li>
					<li><a id="cmd_mod" onmousedown="ins(' mod ')" class="btn" title="Modulo, x mod y  Example: 123^345 mod 127">mod</a></li>
					<li><a id="cmd_undo" onmousedown="doundo()" class="btn" title="Undo">&#8592;</a></li>
				</ul>
				<ul class="row">
					<li class="op"><a id="cmd_sqrt" onmousedown="cmd('sqrt')" class="btn" title="Square Root of Number x, sqrt(x)"><span class="v">&#8730;</span>x</a></li>
					<li class="op"><a id="cmd_x2" onmousedown="cmd('x^2')" class="btn" title="x^2">x<sup>2</sup></a></li>
					<li class="sp"> </li>
					<li><a id="num7" class="btn" title="" onmousedown="ins('7')" ><span>7</span></a></li>
					<li><a id="num8" class="btn" title="" onmousedown="ins('8')" ><span>8</span></a></li>
					<li><a id="num9" class="btn" title="" onmousedown="ins('9')" ><span>9</span></a></li>
					<li class="sp"> </li>
					<li><a id="op_div" class="btn" title="" onmousedown="setoperation('/')" >&#247;</a></li>
					<li><a id="cmd_clr" class="btn" onmousedown="clearall()" title="Clear" >C</a></li>
				</ul>
				<ul class="row">
					<li class="op"><a id="A27" onmousedown="cmd('sqrty')" class="btn" title="y-th Root of Number x, sqrt(x, y)"><sup>y</sup>&#8730;x</a></li>
					<li class="op"><a id="A26" onmousedown="setoperation('^')" class="btn" title="Raise to Higher Power, x^y">x<sup>y</sup></a></li>
					<li class="sp"> </li>
					<li><a id="num_4" class="btn" title="" onmousedown="ins('4')" ><span>4</span></a></li>
					<li><a id="num_5" class="btn" title="" onmousedown="ins('5')" ><span>5</span></a></li>
					<li><a id="num_6" class="btn" title="" onmousedown="ins('6')" ><span>6</span></a></li>
					<li class="sp"> </li>
					<li><a id="op_mult" class="btn" title="" onmousedown="setoperation('*')" >&#215;</a></li>
					<li> </li>
				</ul>
				<ul class="row">
					<li class="op"><a id="A36" onmousedown="cmd('exp')" class="btn" title="Exponential Function, exp(x), e^x">e<sup>x</sup></a></li>
					<li class="op"><a id="A37" onmousedown="cmd('ln')" class="btn" title="Logarithm of Number x to Base e, ln(x)">ln</a></li>
					<li class="sp"> </li>
					<li><a id="num_1" class="btn" title="" onmousedown="ins('1')" ><span>1</span></a></li>
					<li><a id="num_2" class="btn" title="" onmousedown="ins('2')" ><span>2</span></a></li>
					<li><a id="num_3" class="btn" title="" onmousedown="ins('3')" ><span>3</span></a></li>
					<li class="sp"> </li>
					<li><a id="op_sub" class="btn" title="" onmousedown="setoperation('-')" >-</a></li>
					<li> </li>
				</ul>
				<ul class="row">
					<li class="op"><a id="A38" onmousedown="cmd('10^x')" class="btn" title="10^x">10<sup>x</sup></a></li>
					<li class="op"><a id="A39" onmousedown="cmd('log')" class="btn" title="Logarithm of Number x to Base 10, log(x)">log</a></li>
					<li class="sp"> </li>
					<li><a id="num_0" class="btn" onmousedown="ins('0')"><span>0</span></a></li>
					<li><a id="op_sign" class="btn" onmousedown="sign()" ><span>&#177;</span></a></li>
					<li><a id="cmd_dot" class="btn" onmousedown="ins('.')" ><span>.</span></a></li>
					<li class="sp"> </li>
					<li><a id="A42" class="btn" title="" onmousedown="setoperation('+')" >+</a></li>
					<li class="eq"><a id="btn_equal" class="btn eq" title="" onmousedown="equal()">=</a></li>
				</ul>
			</div>

			<!-- <div class="table cmds">
				<ul class="row">
					<li><a id="cmd_pi" onmousedown="ins('pi')" class="btn" title="pi">pi</a></li>
					<li><a id="cmd_e" onmousedown="ins('e')" class="btn" title="e, Examples: 3*e, 1e6">e</a></li>
					<li><a id="cmd_im" title="Imaginary Unit" class="btn" onmousedown="ins('i')">i</a></li>
					<li><a title="Variable: x" class="btn" onmousedown="ins('x')" id="cmd_x">x</a></li>
					<li class="sp"> </li>
				</ul>
				<ul class="row">
					<li><a id="cmd_sin" onmousedown="cmd('sin')" class="btn bl" title="Sine, sin(x)">sin</a></li>
					<li><a id="cmd_asin" onmousedown="cmd('asin')" class="btn" title="Arc Sinus (sin^-1), asin(x)">sin<sup>-1</sup></a></li>
					<li><a title="Absolute, Example: abs(3+2i)" class="btn" onmousedown="cmd('abs')" id="cmd_abs">|x|</a></li>
					<li><a title="Vector" class="btn" onmousedown="ins('( 0, 0, 0)')" id="cmd_vec3">()<sub>3</sub></a></li>
					<li class="sp"> </li>
				</ul>
				<ul class="row">
					<li><a id="cmd_cos" onmousedown="cmd('cos')" class="btn bl" title="Cosine, cos(x)">cos</a></li>
					<li><a id="cmd_acos" onmousedown="cmd('acos')" class="btn" title="Arc Cosine (cos^-1), acos(x)">cos<sup>-1</sup></a></li>
					<li><a title="Phase, Example: arg(3+2i)" class="btn" onmousedown="cmd('arg')" id="cmd_arg">&#8736;x</a></li>
					<li><a title="Vector" class="btn" onmousedown="ins('( 0, 0, 0, 0)')" id="cmd_vec4">()<sub>4</sub></a></li>
					<li class="sp"> </li>
				</ul>
				<ul class="row">
					<li><a id="cmd_tan" onmousedown="cmd('tan')" class="btn bl" title="Tangent, tan(x)">tan</a></li>
					<li><a id="cmd_atan" onmousedown="cmd('atan')" class="btn" title="Arc Tangent (tan^-1), atan(x)">tan<sup>-1</sup></a></li>
					<li><a title="Real Part, Example: Re(3+2i)" class="btn" onmousedown="cmd('Re')" id="cmd_re">Re</a></li>
					<li><a title="Cross-product, Example: (1, 2, 3)#(4 ,5 ,-6)" class="btn" onmousedown="ins(' # ')" id="cmd_cross">#</a></li>
					<li class="sp"> </li>
				</ul>
				<ul class="row">
					<li><a id="cmd_sinh" onmousedown="cmd('sinh')" class="btn bl" title="Hyperbolic Sine, sinh(x)">sinh</a></li>
					<li><a id="cmd_asinh" onmousedown="cmd('asinh')" class="btn" title="Arc Hyperbolic Sinus, asinh(x)">sinh<sup>-1</sup></a></li>
					<li><a title="Imaginary Part, Example: Im(3+2i)" class="btn" onmousedown="cmd('Im')" id="cmd_img">Im</a></li>
					<li><a title="Matrice 3x3" class="btn" onmousedown="ins('[[ 1, 0, 0][ 0, 1, 0][ 0, 0, 1]]')" id="cmd_mat3x3">[&#8201;]<sub>3x3</sub></a></li>
					<li class="sp"> </li>
				</ul>
				<ul class="row">
					<li><a id="cmd_cosh" onmousedown="cmd('cosh')" class="btn bl" title="Hyperbolic Cosine, cosh(x)">cosh</a></li>
					<li><a id="cmd_acosh" onmousedown="cmd('acosh')" class="btn wide" title="Arc Hyperbolic Cosine, acosh(x)">cosh<sup>-1</sup></a></li>
					<li><a id="cmd_logyx" onmousedown="cmd('logyx')" class="btn" title="Logarithm of Number x to Base y, log(x, y)">log<sub>y</sub>x</a></li>
					<li><a title="Matrice 4x4" class="btn" onmousedown="ins('[[ 1, 0, 0, 0][ 0, 1, 0, 0][ 0, 0, 1, 0][ 0, 0, 0, 1]]')" id="cmd_mat4x4">[&#8201;]<sub>4x4</sub></a></li>
					<li class="sp"> </li>
				</ul>
				<ul class="row">
					<li><a id="cmd_tanh" onmousedown="cmd('tanh')" class="btn bl" title="Hyperbolic Tangent, tanh(x)">tanh</a></li>
					<li><a id="cmd_atanh" onmousedown="cmd('atanh')" class="btn" title="Arc Hyperbolic Tangent, atanh(x)">tanh<sup>-1</sup></a></li>
					<li><a id="cmd_log2" onmousedown="cmd('log2')" class="btn" title="Logarithm of Number x to Base 2, log2(x)">log<sub>2</sub>x</a></li>
					<li><a title="Equation Equal Sign, x^2+2x=-2" class="btn" onmousedown="ins('=')" id="cmd_equal">=</a></li>
					<li class="sp"> </li>
				</ul>
			</div> -->
		</div>
	</div>
</div>

