<section>
  <header>
    <h1 class="left"> Editar Exercício </h1>
    <div class="right">
      <div class="btn-group">
        <%= link_to 'Visualizar', learning_object_exercise_path(@learning_object, @exercise), :class => "btn" %>
        <%= link_to 'Ver todos', learning_object_path(@learning_object), :class => "btn" %>
      </div>
    </div>
  </header>

  <article>
    <%= render 'form' %>
  </article>

</section>
