<h1> Como construir fórmulas </h1>

<h3> Variáveis disponíveis </h3>
<ul id="var_help" class="itens">
	<li>X representa o a resposta do usuário à primeira questão</li>
	<li>It representa o número da iteração</li>
</ul><!-- /help -->

<h3>Operações Disponíveis</h3>
<ul id="op_help" class="itens">
	<li>As operações elementares: +, -, *, / (soma, subtração, multiplicação e divisão, respectivamente)</li>
	<li>Raiz quadrada: sqrt(&lt;valor&gt;), substituindo-se &lt;valor&gt; pelo número ou variável desejada</li>
	<li>Exponenciação: b ^ e, substituindo-se <emph>b</emph> pela base e <emph>e</emph> pelo expoente </li>
</ul><!-- /op_help -->

<p> Por exemplo, para criarmos uma fórmula para o lado do Triângulo de Sierpinski, podemos utilizar a seguinte forma: </p>

<p id="code"> Fórmula: X / 2 ^ It </p>

<p> Se o aluno entrar com 32 na primeira resposta, o software irá dar um feedback positivo. </p>
<p> Na 2ª iteração, o usuário deverá entrar com 16 como resposta, para satisfazer a fórmula: 32 / 2<sup>1</sup> = 16. Caso entre com outra resposta, o software dará um feedback negativo. E assim sucessivamente. </p>