<section>
  <header class="clearfix" >
    <h1 class="left"> Novo Exercício </h1>
    <div class="right">
        <%= link_to 'Ver todos', learning_object_path(@learning_object), :class => "btn" %>
    </div>
  </header>

  <article>
    <%= render 'form' %>
  </article>

</section>

