<section>
  <header>
    <h1 class="left">Objeto de Aprendizagens </h1>
    <p class="right">
      <% if can? :manage, LearningObject %>
        <%= link_to 'Criar novo Objeto de Aprendizagem', new_learning_object_path, :class => "btn large" %>
      <% end %>
    </p>
  </header>

  <table class="zebra-striped bordered-table" id="learning_objects">
    <thead>
      <tr>
        <th>Título</th>
        <th>Descrição</th>
        <th>Status</th>
        <th class="center">Opções</th>
      </tr>
    </thead>
    <tbody id="learning">
      <%= render @learning_objects %>
    </tbody>
  </table>
</section>
<%= paginate @learning_objects %>
